:root {
  --linear-rainbow: linear-gradient(
    to right,#ffc9de,#fdd97c,#fbfdaa,#c1f0b2,#b2e4f0,#d6b2f0
  );
  --circle-rainbow: radial-gradient(
    circle at left top,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --noise-texture: url(https://i.gyazo.com/a26366e538851a5c569ff648e99b7fd4.png);
  --a1: #ffc9de;
  --a2: #fdd97c;
  --a3: #fbfdaa;
  --a4: #c1f0b2;
  --a5: #b2e4f0;
  --a6: #d6b2f0;
  --a7: #121212;

}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
      --c1: white;
      --c2: #191f1d;
      height: 100vh;
      margin: 0;
      background: radial-gradient(
          circle at 27px 119px,
          var(--c1) 2px,
          transparent 3px
        ),
        radial-gradient(circle at 69px 79px, var(--c1) 2px, transparent 3px),
        radial-gradient(circle at 163px 57px, var(--c1) 2px, transparent 3px),
        radial-gradient(circle at 119px 180px, var(--c1) 4px, transparent 5px),
        radial-gradient(circle at 33px 69px, var(--c1) 4px, transparent 5px),
        radial-gradient(circle at 71px 177px, var(--c1) 6px, transparent 7px),
        radial-gradient(circle at 159px 133px, var(--c1) 6px, transparent 7px),
        radial-gradient(circle at 183px 23px, var(--c1) 6px, transparent 7px),
        radial-gradient(circle at 24px 166px, var(--c1) 7px, transparent 8px),
        radial-gradient(circle at 114px 134px, var(--c1) 7px, transparent 8px),
        radial-gradient(circle at 82px 38px, var(--c1) 7px, transparent 8px),
        radial-gradient(circle at 176px 176px, var(--c1) 9px, transparent 10px),
        radial-gradient(circle at 66px 120px, var(--c1) 9px, transparent 10px),
        radial-gradient(circle at 180px 94px, var(--c1) 9px, transparent 10px),
        radial-gradient(circle at 126px 16px, var(--c1) 9px, transparent 10px),
        radial-gradient(circle at 121px 71px, var(--c1) 14px, transparent 15px),
        radial-gradient(circle at 25px 25px, var(--c1) 14px, transparent 15px);
      background-size: 200px 200px;
      background-position: 0 0;
      background-color: var(--c2);
    font-family: Roboto, monospace;
    color: white;
    user-select: none; /* Убирает выделение текста на всем теле документа */
    transition: background 300ms; /* Плавное изменение фона */
}
/* Убирает выделение текста на всех устройствах */
body, .container, .image-container, .score, .progress-bar, .flying-score {
    user-select: none; /* Убирает выделение текста */
    -webkit-user-select: none; /* Поддержка для старых браузеров Webkit */
    -moz-user-select: none; /* Поддержка для Firefox */
    -ms-user-select: none; /* Поддержка для IE */
    touch-action: manipulation; /* Убирает нежелательные действия при касании */
}

/* Убирает выделение фона при касании на iOS */
* {
    -webkit-tap-highlight-color: transparent;
}

.container {
    text-align: center;
    position: relative;
    user-select: none; /* Убирает выделение текста внутри контейнера */
}

.score {
    color: white;
    font-size: 75px;
    user-select: none; /* Убирает выделение текста */
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
    padding: 10px; /* Отступы вокруг текста */
    border-radius: 30px;
    box-shadow: 0px 0px var(--shadow);
    display: inline-block; /* Для того чтобы размер подложки соответствовал тексту */
    transition: all 300ms;
    text-align: center; /* Центрирование текста внутри подложки */
}

.score:hover {
  color: white;
  scale: 1.1;
  box-shadow: 16px 16px var(--shadow);
  transition: all 300ms;
}
.image-container {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    user-select: none; /* Убирает выделение текста */
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #0005;
    border-radius: 10px;
    margin: 0 auto;
    user-select: none; /* Убирает выделение текста */
}

.progress-bar-fill {
    height: 100%;
    background-color: #949993;
    background-image: var(--linear-rainbow);
    width: 0%;
    border-radius: 10px;
    transition: width 300ms ease-in-out;
    user-select: none; /* Убирает выделение текста */
}

img {
    transition: transform 0.5s ease;
    max-width: 100%;
    z-index: 3;
    transform: scale(0.75); /* Устанавливаем начальный масштаб на 60% */
    user-select: none; /* Убирает выделение текста */
}

.flying-score {
    position: absolute;
    font-size: 20px;
    color: #ff8b1f;
    pointer-events: none;
    animation: fly 300ms forwards;
    user-select: none; /* Убирает выделение текста */
}

@keyframes fly {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400px 400px;
    }
}

body {
    animation: moveBackground 300s linear infinite; /* Добавляем анимацию движения фона */
}

.rainbow-background {
    background: radial-gradient(
          circle at 27px 119px,
          var(--a1) 2px,
          transparent 3px
        ),
        radial-gradient(circle at 69px 79px, var(--a2) 2px, transparent 3px),
        radial-gradient(circle at 163px 57px, var(--a3) 2px, transparent 3px),
        radial-gradient(circle at 119px 180px, var(--a4) 4px, transparent 5px),
        radial-gradient(circle at 33px 69px, var(--a5) 4px, transparent 5px),
        radial-gradient(circle at 71px 177px, var(--a6) 6px, transparent 7px),
        radial-gradient(circle at 159px 133px, var(--a1) 6px, transparent 7px),
        radial-gradient(circle at 183px 23px, var(--a2) 6px, transparent 7px),
        radial-gradient(circle at 24px 166px, var(--a3) 7px, transparent 8px),
        radial-gradient(circle at 114px 134px, var(--a4) 7px, transparent 8px),
        radial-gradient(circle at 82px 38px, var(--a5) 7px, transparent 8px),
        radial-gradient(circle at 176px 176px, var(--a6) 9px, transparent 10px),
        radial-gradient(circle at 66px 120px, var(--a1) 9px, transparent 10px),
        radial-gradient(circle at 180px 94px, var(--a2) 9px, transparent 10px),
        radial-gradient(circle at 126px 16px, var(--a3) 9px, transparent 10px),
        radial-gradient(circle at 121px 71px, var(--a4) 14px, transparent 15px),
        radial-gradient(circle at 25px 25px, var(--a5) 14px, transparent 15px);
	background-color: var(--a7);
    background-size: 200px 200px;
    background-position: 0 0;
	animation: moveBackground 300s linear infinite; /* Добавляем анимацию движения фона */
}
