:root {
  --linear-rainbow: linear-gradient(
    to right, #ffc9de, #fdd97c, #fbfdaa, #c1f0b2, #b2e4f0, #d6b2f0
  );
  --circle-rainbow: radial-gradient(
    circle at left top, #ede6bf, #ecc947, #cb5a31, #6f5d79, #4e779a
  );
  --a1: #ffc9de;
  --a2: #fdd97c;
  --a3: #fbfdaa;
  --a4: #c1f0b2;
  --a5: #b2e4f0;
  --a6: #d6b2f0;
  --a7: #121212;
  --background-color: var(--tg-theme-bg-color,#121212); /* Прямое значение по умолчанию */
  --text-color: var(--tg-theme-text-color, #ffffff); /* Прямое значение по умолчанию */
  --main-color: var(--background-color);
  --c1: var(--tg-theme-text-color, #ffffff);
  --shadow1: 0px 0px 15px rgba(0, 0, 0, 0.3);
  --shadow2: 10px 10px 25px rgba(0, 0, 0, 0.5);
  --url1: url("./assets/pill.png");
    --url2: url("./assets/vodka.png");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  height: 100vh;
  margin: 0;
  background-image: var(--url1);
      background-color: var(--background-color);
      background-size: 50px 50px;
	  background-position: center center;
	  background-clip: content-box;     
    font-family: Roboto, monospace;
    user-select: none; /* Убирает выделение текста на всем теле документа */
    animation: moveBackground 60s linear infinite;
    transition: background 1s; /* Плавное изменение фона */
}
/* Убирает выделение текста на всех устройствах */
body, .container, .image-container, .score, .progress-bar, .flying-score {
    user-select: none; /* Убирает выделение текста */
    -webkit-user-select: none; /* Поддержка для старых браузеров Webkit */
    -moz-user-select: none; /* Поддержка для Firefox */
    -ms-user-select: none; /* Поддержка для IE */
    touch-action: manipulation; /* Убирает нежелательные действия при касании */
}

/* Убирает выделение фона при касании на iOS */
* {
    -webkit-tap-highlight-color: transparent;
}

.container {
    text-align: center;
    position: relative;
    user-select: none; /* Убирает выделение текста внутри контейнера */
}

.score {
    color: var(--tg-theme-text-color, --text-color);
    font-size: 75px;
    user-select: none; /* Убирает выделение текста */
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    padding: 10px; /* Отступы вокруг текста */
    border-radius: 30px;
    box-shadow: var(--shadow1);
    display: inline-block; /* Для того чтобы размер подложки соответствовал тексту */
    transition: all 300ms;
    text-align: center; /* Центрирование текста внутри подложки */
}

.score:hover {
  color: var(--tg-theme-text-color, --text-color);
  background: rgba(0, 0, 0, 0.5);
  scale: 1.1;
  box-shadow: var(--shadow2);
  transition: all 300ms;
}
.image-container {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    user-select: none; /* Убирает выделение текста */
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #0005;
    border-radius: 10px;
    margin: 0 auto;
    user-select: none; /* Убирает выделение текста */
}

.progress-bar-fill {
    height: 100%;
    background-color: #949993;
    background-image: var(--linear-rainbow);
    width: 0%;
    border-radius: 10px;
    transition: width 300ms ease-in-out;
    user-select: none; /* Убирает выделение текста */
}

img {
    transition: transform 1s ease;
    max-width: 100%;
    z-index: 3;
    transform: scale(0.75); /* Устанавливаем начальный масштаб на 60% */
    user-select: none; /* Убирает выделение текста */
}

.flying-score {
    position: absolute;
    font-size: 20px;
    color: #ff8b1f;
    pointer-events: none;
    animation: fly 1000ms forwards;
    user-select: none; /* Убирает выделение текста */
}

@keyframes fly {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes moveBackground {
  0% {
    background-position: top center;
  }
  100% {
    background-position: bottom center;
  }
}

.rainbow-background {
  background-image: var(--url2);
  background-color: var(--background-color);
	  background-size: 45px 90px;
	  background-position: center center;
	  background-clip: content-box;
	animation: moveBackground 45s linear infinite; /* Добавляем анимацию движения фона */
	transition: background 1s; /* Плавное изменение фона */
}
